@charset "UTF-8";

$primary-color: #409eff;
$secondary-color: #e5f4ff;
$success-color: #58a942;
$success-light-color: #edfbe6;
$bg-color: #f6f6f7;
$font-color-3: #333;
$font-color-6: #666;
$font-color-9: #999;
$font-color-form: #ccc;
$border-color: #e8e8e8;
$gap-height-large: 30px;
$gap-height-small: 20px;
$line-height-1: 50px;
$line-height-2: 40px;
$line-height-3: 36px;
$line-height-4: 30px;
$font-bright-color: #2376cb;
$bright-color: #ff4949;
$light-color: #5fbb46;
