$titleColor: #409eff;

$fontColor: #888888;

$titleColorDisabled: #40a0ff38;

$errorColor: #F54966;

$titleFontColor: #2C3340;

$contentFontColor: #646D7F;

$backgroundColor: #F5F7F9;

$borderColor: #E6E9F0;

$palceholderColor: #B1B8C7;

$border:1px solid $borderColor;
$border_s:.5px solid #c5c5c5;
$borderFocus:1px solid $titleColor;
$borderError:1px solid $errorColor;
$inputFontSize:31px;